<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %> 
<body> 
    <%- include("./partials/nav.ejs")  %> 

    <section class="not-found content">
        <main>
            <div>
                <i class="icon fas fa-face-sad-tear fa-2x"></i>
            </div>
            <h1>404</h1>
            <p>Not Found</p>
        </main>
    </section>
    
    <%- include("./partials/footer.ejs") %>
</body>
</html>