<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %> 

    <section class="about content">
        <h2>All Blogs</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores ipsam commodi dolorem dolore voluptatum rem quis voluptates. Sed nisi dignissimos eius unde ratione quisquam dolore nemo eum ipsa, provident fuga ipsum rem fugiat, voluptates, molestias laborum assumenda mollitia! Quod autem recusandae ipsam aspernatur dignissimos quisquam possimus, ducimus numquam suscipit odit vero esse et deleniti qui est odio officia. Rerum eius sed tenetur aliquam quisquam, sint temporibus mollitia autem praesentium aperiam, numquam reiciendis exercitationem laborum atque illum neque! Consequuntur officiis repellendus perspiciatis nesciunt laboriosam aliquid ducimus consectetur nam vitae est molestias laudantium illum voluptatum, reiciendis dicta cupiditate accusamus autem saepe ea deleniti aut id. Voluptate iste voluptatem recusandae enim quasi ducimus. Libero possimus commodi unde atque aliquam aliquid optio numquam, incidunt id corporis, tempore placeat ipsam dolorum sapiente laudantium, ab aperiam deleniti? Optio, a iusto. Ex dolor ea quas beatae vero atque, libero ad placeat tenetur at enim voluptatibus. Non est suscipit impedit dolor sed nisi voluptates, ipsam reiciendis sint fuga at facilis, natus consequuntur quis maiores fugiat perspiciatis omnis dicta magnam illo inventore nemo! Ipsum, magnam perferendis. Cupiditate itaque hic, nostrum harum quod, excepturi mollitia dolorum eius vero quisquam, explicabo aliquam porro eveniet? Dicta laudantium magnam reiciendis! Adipisci, voluptas amet.</p>
    </section>

    <%- include("./partials/footer.ejs") %>
</body>
</html>